[submodule "dotfiles/vim/bundle/vim-less"]
	path = dotfiles/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dotfiles/vim/bundle/vim-bundle-mako"]
	path = dotfiles/vim/bundle/vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako.git
[submodule "dotfiles/vim/bundle/vim-sensible"]
	path = dotfiles/vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
